<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="main.css">

    <script src="js/script.js" charset="utf-8" defer></script>
  </head>
  <body>
    <section>
      <div id="app" v-cloak>

        <h3>Welcome to the guessing game! I'll choose a number between 1-100 inclusive...</h3>

        <div id="guessingArea">
          <label>Guess a number! <input type="text" v-model="guessValue" v-on:keyup.enter="guesses[0] = guessValue; guess();" id="guessBox"></label>
          <button type="button" name="button" v-on:click="guesses[0] = guessValue; guess();">Submit guess</button>
        </div>

        <turn-info v-if='turns.length > 0' :response='turns[turns.length - 1].response'></turn-info>

        <button type="button" name="button" v-if='hasWon == true' v-on:click='reset()'>Reset game</button>

        <!-- <div id="guessingArea">
          <label>Guess a number! <input type="text" v-model="guessValue" v-on:keyup.enter="guesses[0] = guessValue; guess();" id="guessBox"></label>
          <button type="button" name="button" v-on:click="guesses[0] = guessValue; guess();">Submit guess</button>
        </div> -->



      </div>
    </section>
  </body>
</html>
