<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8" defer></script>
    <script src="script.js" charset="utf-8" defer></script>
  </head>
  <body>
    <div id="app">
      <label>Guess a number! <input type="text" v-model="guessValue" id="guessBox"></label>
      <button type="button" name="button" v-on:click="guesses[0] = guessValue; guess();">Submit guess</button>

      <p>{{ response }}</p>

      <button type="button" name="button" v-if='hasWon == true' v-on:click=reset();>Reset game</button>

    </div>
  </body>
</html>
